* {
    font-family: Arial, Helvetica, sans-serif;
}

.background {
    margin: 0px;
    background-image: url(/assets/holo.jpg);
    width: 1000px;
    height: 500%;
    overflow-x: hidden;
}

.mwep {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
}

.inline {
    margin-top: 800px;
    padding: 0px 120px;
    display: inline-flex;
}

.adjust {
    margin: 0px 10px;
    margin-bottom: 200px;
    border: 5px dashed white;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
}

.adjust:hover {
    transform: scale(1.10)
}

.desc2 {
    position: absolute;
    top: 850px;
    left: 550px;
    font-weight: 1000;
    color: white;
    border: 6px solid black;
    background-color: rgb(0, 38, 255);
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;

}

.desc1 {
    position: absolute;
    top: 120px;
    left: 650px;
    font-weight: 1000;
    color: white;
    border: 6px solid black;
    background-color: rgb(0, 38, 255);
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;

}

.desc {
    position: absolute;
    top: 10px;
    left: 10px;
    font-weight: 1000;
    color: white;
    margin: 200px;
    padding: 50px;
    padding-bottom: 100px;
    border: 6px solid black;
    background-color: rgb(0, 38, 255);
}

.haha {
    border: 5px solid white;
    padding: 214px;
    padding-left: 60px;
    margin-left: 970px;
    margin-right: 360px;
    border-radius: 20px;
    margin-top: 90px;
}

.a {
    border: 5px solid white;
    position: absolute;
    left: 1000px;
    top: 130px;
    border-radius: 20px;
}

.b {
    padding: 5px 150px;
    color: rgb(255, 255, 255);
    background-color: rgb(38, 0, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0px;
    max-height: 100px;
    max-width: 2000px;
    width: 2000px;
    border: 2px solid black;
}

.bdo {
    padding: 5px 150px;
    color: rgb(255, 255, 255);
    background-color: rgb(38, 0, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-top: 0px;
    width: 2000px;
    border: 2px dashed white;
}

.c {
    color: rgb(0, 255, 13);
}

.d {
    padding-left: 66px;
}

.e {
    color: rgb(0, 255, 13);

}

.f {
    padding-left: 400px;
    transition: transform 0.3s ease-in-out;
    transform: scale(1);
}

.g {
    padding-left: 100px;
    transition: transform 0.3s ease-in-out;
    transform: scale(1);
}


.d:hover {
    padding-left: 66px;
    transform: scale(1.10)
}

.e:hover {
    color: rgb(0, 255, 13);
    transform: scale(1.10)
}

.f:hover {
    padding-left: 400px;

}

.g:hover {
    padding-left: 100px;
    transform: scale(1.10)
}

.h {
    color: aqua;
}

.i {
    color: blueviolet;
}

.text {
    color: white;
    position: absolute;
    font-size: 40px;
    font-weight: 1000;
    top: 150px;
    left: 130px;
}

.text1 {
    color: white;
    position: absolute;
    font-size: 20px;
    top: 230px;
    left: 135px;
}

.text2 {
    color: white;
    position: absolute;
    font-size: 20px;
    top: 280px;
    left: 135px;
}

.EXTEND {
    position: absolute;
    top: 1000px;
}

.EXTEND2 {
    margin-top: 150px;
}

.colorlist {
    text-align: center;
    color: white;
    font-weight: 1000;
    border: 6px solid black;
    background-color: rgb(0, 38, 255);
    padding: 10px;
    margin-right: 530px;
    margin-left: 530px;
    margin-bottom: 100px;
}

.websitebutton {
    text-align: center;
    color: white;
    font-weight: 1000;
    border: 6px solid black;
    background-color: rgb(0, 38, 255);
    padding: 10px;
    margin-right: 530px;
    margin-left: 530px;
    margin-bottom: 100px;
    transform: scale(1);
}

.websitebutton1 {
    text-align: center;
    color: white;
    font-weight: 1000;
    border: 6px solid black;
    background-color: rgb(0, 38, 255);
    padding: 10px;
    margin-right: 530px;
    margin-left: 530px;
    margin-bottom: 100px;
    transform: scale(1);
}

.websitebutton2 {
    text-align: center;
    color: white;
    font-weight: 1000;
    border: 6px solid black;
    background-color: rgb(0, 38, 255);
    padding: 10px;
    margin-right: 530px;
    margin-left: 530px;
    margin-bottom: 100px;
    transform: scale(1);
}

.websitebutton3 {
    text-align: center;
    color: white;
    font-weight: 1000;
    border: 6px solid black;
    background-color: rgb(0, 38, 255);
    padding: 10px;
    margin-right: 530px;
    margin-left: 530px;
    margin-bottom: 100px;
    transform: scale(1);
}

.websitebutton:hover {
    text-align: center;
    color: white;
    font-weight: 1000;
    border: 6px solid black;
    background-color: rgb(0, 38, 255);
    padding: 10px;
    margin-right: 530px;
    margin-left: 530px;
    margin-bottom: 100px;
    transform: scale(1.10)
}

.websitebutton1:hover {
    text-align: center;
    color: white;
    font-weight: 1000;
    border: 6px solid black;
    background-color: rgb(0, 38, 255);
    padding: 10px;
    margin-right: 530px;
    margin-left: 530px;
    margin-bottom: 100px;
    transform: scale(1.10)
}

.websitebutton2:hover {
    text-align: center;
    color: white;
    font-weight: 1000;
    border: 6px solid black;
    background-color: rgb(0, 38, 255);
    padding: 10px;
    margin-right: 530px;
    margin-left: 530px;
    margin-bottom: 100px;
    transform: scale(1.10)
}

.websitebutton3:hover {
    text-align: center;
    color: white;
    font-weight: 1000;
    border: 6px solid black;
    background-color: rgb(0, 38, 255);
    padding: 10px;
    margin-right: 530px;
    margin-left: 530px;
    margin-bottom: 100px;
    transform: scale(1.10)
}