* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;

}

.mwep {
    background-color: rgb(162, 0, 255);
    border: 3px solid black;
    padding: 40px;
    border-radius: 10px;
}

.portname {
    margin-left: 60px;
}

.dashboard {
    position: absolute;
    top: 100px;
    margin-left: 900px;
    font-size: 25px;
}

.dashboard {
    position: absolute;
    top: 70px;
    margin-left: 800px;
}

.create {
    position: absolute;
    top: 70px;
    margin-left: 990px;
    font-size: 25px;
}

.retrieve {
    position: absolute;
    top: 70px;
    margin-left: 1200px;
    font-size: 25px;
}

.update {
    position: absolute;
    top: 70px;
    margin-left: 1170px;
    font-size: 25px;
}

.delete {
    position: absolute;
    top: 70px;
    margin-left: 1330px;
    font-size: 25px;
}

.dashboard:hover {
    color: white;
}

table,
th,
td {
    border: rgb(28, 39, 30) solid 1px;
}

.crtprod {
    border: 2px solid black;
    padding: 50px;
    border-radius: 10px;
    margin: 30px;
}

.leftside {
    position: absolute;
    left: 850px;
    top: 245px;
}

.adjustable {
    margin-bottom: 10px;
    padding: 10px;
}

.createuser {
    margin-left: 650px;
    bottom: 20px;
}

.usna {
    margin-left:450px;
    bottom: 50px;
}

.email {
    margin-left: 30px;
    bottom: 80px;
}

.fname {
    margin-left: 450px;
    bottom: 110px;
}

.lname {
    margin-left: 30px;
    bottom: 140px;
}

.mnum {
    margin-left: 450px;
    bottom: 170px;
}

.bdate {
    margin-left: 30px;
    bottom: 200px;
}

.gender {
    margin-left: 450px;
    bottom: 230px;
}

.password {
    margin-left: 30px;
    bottom: 260px;
}






.usnas {
    margin-left: 40px;
    margin-bottom: 40px;
    border-radius: 6px;
    padding: 10px;
}

.emails {
    margin-left: 53px;
    margin-bottom: 40px;
    border-radius: 6px;
    padding: 10px;
}

.fnames {
    margin-left: 35px;
    margin-bottom: 40px;
    border-radius: 6px;
    padding: 10px;
}

.lnames {
    margin-left: 13px;
    margin-bottom: 40px;
    border-radius: 6px;
    padding: 10px;
}

.mnums {
    margin-left: 22px;
    margin-bottom: 40px;
    border-radius: 6px;
    padding: 10px;
}

.bdates {
    margin-left: 24px;
    margin-bottom: 40px;
    border-radius: 6px;
    padding: 10px;
}

.genders {
    margin-left: 65px;
    margin-bottom: 100px;
    border-radius: 6px;
    padding: 10px;
}

.passwords {
    margin-left: 21px;
    margin-bottom: 100px;
    border-radius: 6px;
    padding: 10px;
}

.savebutton{
    margin-left: 40px;
    border: 2px solid black;
    border-radius: 6px;
    padding: 10px;
}